<div id="board">
  <div class="title">
    <input type="text" value="Nombre tablero">
    <button><span></span><span></span><span></span></button>
  </div>
  <ul class="lists">
    <li class="list" *ngFor="let list of lists">
      <div class="header">
        <h3>{{list.title}}</h3>
        <div class="options-list">
          <button class="edit"></button>
          <button class="delete"></button>
        </div>
      </div>
      <ul class="cards">
        <li class="card" *ngFor="let card of cards">
          <button (click)="openCard(card)">{{card.title}}</button>
        </li>
      </ul>
      <div class="footer">
        <button (click)="openCreateCardForm(list)">+ Añade una tarjeta</button>
      </div>
    </li>
    <li class="add-list">
      <button>+ Añade una lista</button>
    </li>
  </ul>
</div>
<app-create-card-form *ngIf="isCreateCardFormOpen" [list]="selectedList" (refresh)="getLists()" (closeModal)="closeCreateCardForm()"></app-create-card-form>
<app-card *ngIf="isCardOpen" [card]="selectedCard" (refresh)="getLists()" (closeModal)="closeCard()"></app-card>
