<div id="board">
  <div class="title">
    <input type="text" value="Nombre tablero">
    <button><span></span><span></span><span></span></button>
  </div>
  <ul class="lists">
    <li class="list">
      <div class="header">
        <h3>Titulo listaa sd asdasd asd asdasd</h3>
        <div class="options-list">
          <button class="edit"></button>
          <button class="delete"></button>
        </div>
      </div>
      <ul class="cards">
        <li class="card" *ngFor="let card of list.cards">
          <button (click)="openCardModal(card)">{{ card.title }}</button>
        </li>
        <li class="card">
          <button>Titulo targeta asd asd asda sdas das dassad</button>
        </li>
        <li class="card">
          <button>Titulo targeta asd asd asda sdas das dassad</button>
        </li>
        <li class="card">
          <button>Titulo targeta asd asd asda sdas das dassad</button>
        </li>
        <li class="card">
          <button>Titulo targeta asd asd asda sdas das dassad</button>
        </li>
        <li class="card">
          <button>Titulo targeta asd asd asda sdas das dassad</button>
        </li>
        <li class="card">
          <button>Titulo targeta asd asd asda sdas das dassad</button>
        </li>
        <li class="card">
          <button>Titulo targeta asd asd asda sdas das dassad</button>
        </li>
        <li class="card">
          <button>Titulo targeta asd asd asda sdas das dassad</button>
        </li>
        <li class="card">
          <button>Titulo targeta asd asd asda sdas das dassad</button>
        </li>
        <li class="card">
          <button>Titulo targeta asd asd asda sdas das dassad</button>
        </li>
        <li class="card">
          <button>Titulo targeta asd asd asda sdas das dassad</button>
        </li>
        <li class="card">
          <button>Titulo targeta asd asd asda sdas das dassad</button>
        </li>
        <li class="card">
          <button>Titulo targeta asd asd asda sdas das dassad</button>
        </li>
        <li class="card">
          <button>Titulo targeta asd asd asda sdas das dassad</button>
        </li>
        <li class="card">
          <button>Titulo targeta asd asd asda sdas das dassad</button>
        </li>
      </ul>
      <div class="footer">
        <button (click)="openCardModal(null)">+ Añade una tarjeta</button>
      </div>
    </li>
    <li class="add-list">
      <button>+ Añade una lista</button>
    </li>
  </ul>
</div>
